$color-darkest: black;
$color-lightest: white;

$color-accent-blue-dark: #010240;
$color-accent-blue-light: #5476FF;

$color-accent-blue-1: #4F4CFF;
$color-accent-blue-2: #2B2EE0;
$color-accent-blue-3: #0D209E;

$color-1: #CBC9CF;
$color-2: #67666A;
$color-3: #424143;
$color-4: #1E1E1F;
